@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: rgb(218, 218, 218);
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/images/fog.jpg);
    background-size: cover;
    background-position: center;
    filter: brightness(0.8);
}

.calendar {
    width: 30rem;
    height: 15rem;
    border-radius: 2rem;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left,
.right {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    flex-direction: column;
    text-transform: uppercase;
    background-color: rgba(245, 245, 245, 0.06);
    backdrop-filter: blur(10px);
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.3));
    filter: brightness(2);
}

.right {
    width: 42%;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-left: 2px dashed rgba(255, 255, 255, 0.097) ;
}

.left {
    width: 58%;
    border-left: 1px solid rgba(255, 255, 255, 0.172);
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

#date {
    font-size: 100px;
    font-weight: 500;
    line-height: 90px;
}

#day {
    font-size: 30px;
    font-weight: 500;
}
#month {
    font-size: 30px;
    font-weight: 500;
}

#year {
    font-weight: 100;
    font-weight: 500;
}